.container {
  display: flex;
  flex-direction: row;
  width: 120rem;
  height: 50rem;
  background-color: $color-card-bg;
  border-radius: 1rem;
  margin: 20rem auto;

  @media (max-width: $bp-mobile) {
    flex-direction: column;
  }
}
