.container {
  display: flex;
  flex-direction: row;
  max-width: 120rem;
  background-color: $color-card-bg;
  border-radius: 1rem;
  margin: 20rem auto;

  @media only screen and (max-width: $bp-mobile) {
    flex-direction: column;
    margin: auto;
    height: 85rem;
    max-width: 40rem;
  }
}

.infobox {
  display: flex;
  flex: 0 1 50%;
  min-height: 100%;
  max-width: 50%;
  flex-direction: column;
  padding: 8rem 10rem 8rem 8rem;
  width: 60rem;
  order: 1;

  @media only screen and (max-width: $bp-mobile) {
    order: 2; //reorder elements in the flex container
    flex: 0 0 100%; //Settings to take up a percentage of column flex container
    max-height: 70%;
    min-height: 70%;
    max-width: 100%;
    padding: 4rem 0 0 0;   

   
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8rem 5rem 0 0;

  @media only screen and (max-width: $bp-mobile) {
    flex-direction: column;
    padding: 4rem 0 4rem 0;
    height: 100%;
    justify-content: unset;
  }
}

.imageContainer {
  display: flex;
  flex: 0 1 50%;
  min-height: 100%;
  max-width: 50%;
  background: url(../img/image-header-desktop.jpg) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 0 1rem 1rem 0; // top-left top-right bottom-right bottom-left.
  order: 2;

  @media only screen and (max-width: $bp-mobile) {
    flex: 0 0 100%;
    max-height: 30%;
    min-height: 30%;
    max-width: 100%;
    border-radius: 1rem 1rem 0rem 0; // top-left top-right bottom-right bottom-left.
    order: 1;
  }
}

.heading {
  font-family: $ff-primary;
  font-size: 4rem;
  color: $color-main-heading;

  @media only screen and (max-width: $bp-mobile) {
    text-align: center;
    font-size: 3rem;
    padding: 0 3rem;
  }
}

.paragraph {
  font-family: $ff-primary;
  color: $color-main-paragraph;
  font-size: 1.5rem;
  line-height: 2;
  margin: 3rem 2rem 0 0;

  @media only screen and (max-width: $bp-mobile) {
    text-align: center;
    margin: 3rem 2rem 0 2rem;
  }
}

.accent-word {
    color: $color-accent;
  }


.stat_box {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $bp-mobile) {
        margin: 0 0 3rem 0;
        :last-child {
            margin-bottom: 0;
        }
      }
}

.stat_number {
  font-family: 'Lexend Deca';
  font-size: 2.5rem;
  color: $color-main-heading;

  @media only screen and (max-width: $bp-mobile) {
    text-align: center;
  }
}

.stat_paragraph {
  font-family: $ff-secondary;
  color: $color-stat-heading;
  letter-spacing: 0.27rem;
  line-height: 2;
  
  @media only screen and (max-width: $bp-mobile) {
    text-align: center;
  }
}




.overlay {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $color-accent;
  opacity: 0.7;
}

